<html>
<head></head>

<body>
<h2>Your Score!!</h2>
    
    <p>Your score will be added to your previous cumulative score to to get your score on the Leaderboard </p>

<pre id="object"></pre>


<% include partials/scripts.ejs%>
<script src='javascripts/controllerAnswers.js'></script>
</body>

</html>