<html>
<head></head>

<body>
<% include partials/header.ejs %>

<span><h2>Welcome</h2><h2 id='welcomeName'></h2></span>
    

             
           
            <div class='container-fluid'>
         
            <div class="row">
  <div class="col-sm-6" style="text-align:center">
      <a href="/questions"><img src='images/start_image.jpg'></a>
                        
                </div>
  <div class="col-sm-6" style="text-align:center">  <a href="leaderboard"><img src='images/leaderboard_image.png'></a>
                
                </div>
 

                
    </div>
<% include partials/scripts.ejs %>
<script src="javascripts/controllerLogout.js"></script>
</body>

</html>