<html>
<head>
 <% include partials/head.ejs %>
</head>

<body>
<% include partials/header.ejs %>
<div>
<h2>Question 2</h2>
</div>

<div>
<table>
<tr>
<th>Rank</th>
<th>Name</th>

<th>Score</th>
<th>Level</th>
<th>Date</th>

</tr>
<!--for loop on the way-->
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</div>


 <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>
</body>



</html>