<html>
<head>
 <% include partials/head.ejs %>
</head>

<body>
<% include partials/header.ejs %>
<div>
<h2>LeaderBoard</h2>
</div>
<div class="container-fluid" style="height:500px">
    <div class="row">
    
    
    <div class="col-md-2">
    </div>
<div class="col-md-8">
    <div style='background:white;padding:30px'>
          <table class="table table-striped">
              
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Score</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody id="tableBody">
          
            </tbody>
          </table>
        </div>
      
    
    <div class="col-md-2">
    </div>
    </div>
</div>
    </div>

  <% include partials/scripts.ejs %>
  <script src="javascripts/controllerLeaderboard.js"></script>
</body>



</html>