<html>
<head>
 <% include partials/head.ejs %>
</head>

<body>
<% include partials/header.ejs %>
<div>
<h2>Question 2</h2>
</div>

<div>
<input type="radio">option_1
<input type="radio">option_2
<input type="radio">option_3
<input type="radio">option_4
</div>


 <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>
</body>



</html>