<html>
<head>
 <% include partials/head.ejs %>
</head>

<body>
<% include partials/header.ejs %>

    <div style='height:50px'></div>
<div class="container-fluid" style='height:600px'>
  <div class="row">
    <div class="col-sm-3" style="">
      
    </div>
    <div class="col-sm-6" style="">
        
        <div style='background:white;padding:30px;border:2px solid #dfe3ee;border-radius:6px'>
            
         
            <div style='text-align:right'>
            <button type="button" class="btn btn-primary" style="background:#9c4c95">Question <span class=" badge"id="question_number">1</span></button>
            </div>
       
        <h2 style="background:#ff5349;padding:20px;color:white" id="the_question">Loading...</h2>
        <br>
        <br>
        
            <div class="btn-group" data-toggle="buttons" id='myRadioGroup'>
 <!--
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>-->
   <label for='option_a' class="btn btn-primary" >
    <input type="radio" name="options" id="option_a" value='Code' autocomplete="off">...
  </label>
  <br/>
  <br/>
  <br/>
  <label for='option_b' class="btn btn-primary">
    <input type="radio" name="options" id="option_b" value="coders" autocomplete="off"> ...
  </label>
  <br/>
<br/>
<br/>
  <label for='option_c' class="btn btn-primary">
    <input type="radio" name="options" id="option_c" autocomplete="off"> ...
  </label>
  <br/>
  <br/>
  <br/>
  <label for='option_d' class="btn btn-primary">
    <input type="radio" name="options" id="option_d" autocomplete="off">...
  </label>
                <br><br><br><br>
                <div style="text-align:right;width:570px">
                <button id='btnEndQuiz' type="button"  class="btn btn-success" style="display:none">End Quiz</button>
                <button id='btnNextQuestion' type="button"  class="btn btn-warning">Next</button>
                </div>
</div>
   
        </div>
    </div>
    <div class="col-sm-3" style="">
      
    </div>
  </div>
    </div>
    
    




  <% include partials/scripts.ejs %>
    <script src="javascripts/controllerQuestions.js"></script>
</body>



</html>