<html>
<head>

</head>


<body>
<% include partials/headerSignUp.ejs%>

    <div style="height:70px"></div>
    
 <div class="container-fluid">

<div class="row">
<div class="col-md-4">
     </div>
<div class="col-md-4">
     
    <div style='background:white;padding:30px'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email"  id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
           <input type="password"  id="inputPassword" class="form-control" placeholder="Password" required>
        <br>
        <input type="text" id="fullName" class="form-control" placeholder="Full name" required>
        <br>
        
        <button id='btnSignUp' class="btn btn-lg btn-primary btn-block" type="submit" >Sign Up</button>
    </div>
</div>
    <div class="col-md-4">
     </div>
     </div>

    </div> <!-- /container -->


    <% include partials/scripts.ejs%>
 <script src="javascripts/controllerSignUp.js"></script>
    
</body>

</html>